extends template/main

block variables
    - var title = 'Index'
    - var pageClass = 'index'

block content
    main
        section.hero
            h1 yeah
            p.herotext
            a.btn herobutton
        section.test